body{
  font-family: 'Rubik', sans-serif;
}
.container-fluid {
   position: relative;
}
.full-height{ 
   height: 100vh;
}
.image-pan{
  min-width: 400px;
   background-image: url('./assets/img/charlotte_2.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.data-pan{
  min-width: 400px;
   background: #fff;
}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.data-pan
{
position: absolute;
left:0 ;
-webkit-transition: left 1s; /* Safari prior 6.1 */
 transition: left 1s;
 
}
.data-pan-inner{
  display: grid;
 height: 80%;
}
.signup .data-pan{
  position: absolute;
   left : 50% !important;
  -webkit-transition: left 1s; /* Safari prior 6.1 */
  transition: left 1s;
  
}
.image-pan{
  position: absolute;
  right:0;
  -webkit-transition: right 1s; /* Safari prior 6.1 */
  transition: right 1s;
}
.signup .image-pan{
  position: absolute;
  right:50% !important;
  -webkit-transition: right 1s; /* Safari prior 6.1 */
  transition: right 1s;
}

.logo{
  background-image: url('./assets//img//logo.png');
  width: 102px;
  height: 28px;
  display: block;
   margin: auto;
  margin-top:20px
}
.signin-content,.signup-content{
    
   margin:auto;
   display: none;
  -webkit-transition: display 1s; /* Safari prior 6.1 */
  transition: display  1s;
   
}

/* .signin-content{
  
  position: absolute;
    width: 400px;
    height: 350px;
     top: 50%;
    left: 50%;
    margin: -175px 0 0 -200px;
}
.signup-content{
  position: absolute;
    width: 400px;
    height: 550px;
   
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -200px;
} */

.show-log-pane{
  display: block;
  -webkit-transition: display 1s; /* Safari prior 6.1 */
  transition: display  1s;
  padding: 0 25px;
}
h3{
  font-weight: 300;
  color: #2E384D;
 font-size:25px;
 
}
p{
  color: #8798AD;
  font-weight: 100;
  font-size:13px
}

.form-control{
  height: 41px;
  border-radius: 5px;
  background:  #F9FAFF;
  border:1px solid #E0E7FF;
}


.dirty-input{
  border:1px solid #FF7474 !important;
}
p.error{
  font-size:12px;
  color:#FF7474;
  margin-left:5px
}
label{
  
font-weight: 400;
color:#B0BAC9;
font-size: 12px
}

.btn-primary{
  width: 100%;
  height: 50px;
  background: #2E5BFF;
  border:none;
  font-size:15px;
  border-radius: 4px
}
.btn-primary:hover{
  border:none;
  background:#2E5BF5;
}
.pan-switcher{
  font-size:15px;
  color:#B0BAC9;

}
.pan-switcher button{
  background: none;
  color:#2E5BFF;
  border:none
}

.pan-switcher{
  margin-top:20px
}

@media only screen and (max-width: 600px) {
  
  .data-pan-inner{
    display:unset;
    height: 100%;
  }
  .data-pan
  {
  position: absolute;
  left:0 ;
  -webkit-transition: left 1s; /* Safari prior 6.1 */
   transition: left 1s;
  }
  .signup .data-pan{
    position: absolute;
    left:0 !important;
    -webkit-transition: left 1s; /* Safari prior 6.1 */
     transition: left 1s;
    
  }
  .image-pan{
    position: absolute;
    right:0;
    display: none;
  }
  .signup .image-pan{
    position: absolute;
    right:0;
    display: none;
  }
  
  .data-pan{
    min-width: 100%;
     background: #fff;
  }

}